<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>notes</title>
</head>
<body>
    <p>ejs官方网站：https://ejs.bootcss.com/</p>
    <img width="150px" src="/public/image/icon.png"/>
    <p>id:<%= res.id%></p>
    <p>name:<%= res.name%></p>

    <p>循环渲染</p>
    <ul>
        <% for(var i = 0;i<list.length;i++) {%>
        <li><%= list[i] %></li>
        <% } %>
    </ul>
</body>
</html>